<div class="row">
  <div class="col-md-3">
    <img [src]="recipeDetails.imagePath" class="img-thumbnail" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{ recipeDetails.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div
      class="btn-group"
      role="group"
      aria-label="Button group with nested dropdown"
    >
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Mange Recipe
        </button>
        <ul class="dropdown-menu">
          <li>
            <a
              class="dropdown-item"
              href="javascript:void(0);"
              (click)="sendToSL()"
              >To Shopping List</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);" (click)="onRecipeEdit()">Edit Recipe</a>
          </li>
          <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5>{{ recipeDetails.desc }}</h5>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action"
        *ngFor="let ingredients of recipeDetails.ingredients"
      >
        {{ ingredients.name }} - {{ ingredients.amount }}
      </li>
    </ul>
  </div>
</div>
