<div class="row">
  <div class="col-xs-10">
    <ul>
      <li *ngFor="let account of accounts">
        {{ account.name }}
      </li>
    </ul>

    <app-shopping-edit
      (ingridentAdded)="onIngradientAdded($event)"
    ></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <a
        class="list-group-item list-group-item-action d-flex"
        *ngFor="let ingredient of ingredients"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
